<h1 id="the-vim-based-development-environment">The Vim Based Development Environment</h1>
<h2 id="introduction">1. Introduction</h2>
<p>Welcome to the <a href="https://spacevim.org/">(Space)Vim</a> based development environment which is containerized using Docker.</p>
<p>If you reach there this is because you are the maintainer or just curious to see how things are done behind the scene. However, if you are simply a developer that wants to use the image without the willing to deep dive into the technical details of the design, then you sould jump to the section <a href="">6. Using the images</a>.</p>
<p>Two kind of images are available: (1) the default for CPU machines, and (2) an NVIDIA CUDA based image for GPU machines.</p>
<p>However if you are just a simple user that wants to use the image, then you should directly go to the section <em>6. Using the image(s)</em>.</p>
<h2 id="build-the-images">2. Build the images</h2>
<p><strong>WARNING:</strong></p>
<p>Once again, you don't have to do that if you just want to use the image(s). Skip to the last section to see how to simply use the image(s).</p>
<p><strong>Prerequisites:</strong></p>
<p>The following actions are required to guarantee the success of the images building. The following binaries MUST be manually downloaded and moved in the same directory than the <em>Docukerfile.xxx</em> and <em>docker-build-xxx.sh</em> files (e.g. the top directory of the cloned repository): * Golang 1.13 for Linux available <a href="https://dl.google.com/go/go1.13.8.linux-amd64.tar.gz">here</a> (packaged and compressed as <strong>go1.13.8.linux-amd64.tar.gz</strong>) * Conque-Shell for Vim available <a href="https://github.com/vim-scripts/Conque-Shell.git">here</a> (packaged and compressed as <strong>conque.vim.tar.gz</strong>)<br />
* Contact me to obtain the file <strong>dot_vim_bundle.tar.gz</strong> which contains the Vim plugins</p>
<pre class="shell"><code>$ tree .
.
...
├── tarballs
│   ├── conque.vim.tar.gz
│   ├── dot_vim_bundle.tar.gz
│   └── go1.13.3.linux-amd64.tar.gz</code></pre>
<p><strong>Build the image(s): CPU or GPU</strong></p>
<pre class="shell"><code>$ sudo su
# ./docker-build-vim-dev-lab[-gpu].sh
... // long</code></pre>
<p>Check the images:</p>
<pre class="shell"><code># docker images
...</code></pre>
<h2 id="run-the-container-and-checks-some-invariants">3. Run the container and Checks some invariants</h2>
<p>Note: Here you should start the container IMPERATIVELY with -u developer to have access to env variables. Do not start as root and su - after, it won't provide the env variables.</p>
<pre class="shell"><code># docker run -u developer --rm -it vim-dev-lab
developer@c84fe6395cc1:/# env
...</code></pre>
<h2 id="push-to-docker-hub">4. Push to docker hub</h2>
<p>Prerequisites: * You need to have an account on docker hub (e.g. username = rejux) * You need to create a repository a set of tags on the docker hub (e.g. rejux/vim-dev-lab)</p>
<p>step 1: tag the (just created) image before pushing using the same name as your remote repository:</p>
<pre class="shell"><code># docker tag vim-dev-lab:latest rejux/vim-dev-lab:1.0.0</code></pre>
<p>step 2: login to the hub using your docker client and push</p>
<pre class="shell"><code># docker login docker.io
username:... (rejux here)
password:...</code></pre>
<p>push the new tag:</p>
<pre class="shell"><code># docker push rejux/vim-dev-lab:1.0.0
... // long</code></pre>
<h2 id="check-on-the-docker-hub">5. Check on the docker hub</h2>
<p>Connect to the site and check</p>
<p>Search all the images with rejux:</p>
<pre class="shell"><code># docker search rejux
NAME               DESCRIPTION    
rejux/vim-dev-lab  ... </code></pre>
<h2 id="using-the-image">6. Using the image</h2>
<p>If you are simple user that wants to run a container based on one of the images described here, then this section is for you.</p>
<p>These images are all available on the docker hub at the following URLs: * the CPU image <strong>rejux/vim-dev-lab</strong> is available <a href="https://hub.docker.com/repository/docker/rejux/vim-dev-lab">here</a> * the GPU image <strong>rejux/vim-dev-lab-gpu</strong> is available <a href="#">here</a>.</p>
<p>To use it just pull it locally (using the right version):</p>
<pre class="shell"><code># docker pull rejux/vim-dev-lab:1.0.0</code></pre>
<p>Now, simply run the container while not forgetting to mount the directory of your project (e.g. <strong>/PATH_ON_HOST</strong>) as a volume:</p>
<pre class="shell"><code># docker run --rm -it \
    -u developer \
    -v /PATH_ON_HOST:/home/developer/myprojectdir \
    rejux/vim-dev-lab:1.0.0</code></pre>
<p>The previous line runs the container by associating a local directory named <strong>/home/developer/myprojectdir</strong> to a directory of the host machine named <strong>/PATH_ON_HOST</strong>.</p>
<p>If one wants to start graphical applications (e.g. a browser of something else with a GUI) then you must add the following options:</p>
<pre class="shell"><code>    ...
    -e DISPLAY=$DISPLAY \
    -v /tmp/.X11-unix:/tmp/.X11-unix \
    ...</code></pre>
<h2 id="known-limitations">7. Known Limitations</h2>
<p>TODO</p>
<p>Enjoy!</p>
<h2 id="x.-post-creation">X. Post Creation</h2>
<h3 id="install-remarkable-markdown-editor">Install Remarkable Markdown Editor:</h3>
<p>(from the host) # ./scripts/run-bg-vim-dev-lab-cde.sh ... $ sudo docker exec -it vim-dev-lab /bin/bash</p>
<p>(from container) developer@02484f98c51e:/$ cd developer@02484f98c51e:~$ wget -c https://remarkableapp.github.io/files/remarkable_1.87_all.deb developer@02484f98c51e:~$ sudo apt-get update developer@02484f98c51e:~$ sudo dpkg -i remarkable_1.87_all.deb ... Errors were encountered while processing: remarkable // FAILURE! developer@02484f98c51e:~$ sudo apt-get install -f ... // very long</p>
<p>Then install again:</p>
<p>developer@02484f98c51e:~$ sudo dpkg -i remarkable_1.87_all.deb ... // OK!</p>
<p>developer@02484f98c51e:~$ rm remarkable_1.87_all.deb</p>
<p>Test: developer@02484f98c51e:~$ remarkable</p>
<p>(from host) # docker tag vim-dev-lab:2.0.0 vim-dev-lab:2.0.1 # docker stop vim-dev-lab # docker rmi vim-dev-lab:2.0.0</p>
<p><strong>END OF DOCUMENT.</strong></p>
